# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IDE
.idea/

# .local folder - keep structure but ignore contents
.local/*
!.local/.gitkeep

# reports folder - keep structure but ignore contents
reports/*
!reports/.gitkeep
!reports/logs/
!reports/screenshots/
!reports/traces/
!reports/videos/
reports/logs/*
!reports/logs/.gitkeep
reports/screenshots/*
!reports/screenshots/.gitkeep
reports/traces/*
!reports/traces/.gitkeep
reports/videos/*
!reports/videos/.gitkeep

# pytest
**/__pycache__/

# MacOS
# Every time that a folder is opend with finder, macOS creates this file to store metadata
.DS_Store